/* This document is the styles base for the page, where to find
   varibles, or root styles. */

:root {

}


@import url(./normalize.css);

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}